.parent{
    background-color: dodgerblue;
    width: 600px;
    height: 300px;
    position:relative /* *important* */
}
.child{
    background-color: crimson;
    width: 200px;
    height: 100px;
    position:absolute; /* *important* */
    right:0;
    bottom:0;
}