.parent{
    position:relative;
    height: 500px;
    width: 500px;
    border: 1px black solid;
}
.child{
    position:absolute;
    background-color: dodgerblue;
    width: 100px;
    height: 100px;
    
    top:50%;
    left:50%;
    transform: translate(-50%,-50%); 
}   