div{
    width: 200px;
    height: 200px;
    background-color: dodgerblue;
    border:10px orange solid;
    margin:10px;
    float:left;
}
.box1{
    border-radius: 20px;
}
.box2{
    border-radius: 20px 60px;
}
.box3{
    border-radius: 20px 60px 120px;
}
.box4{
    border-radius: 20px 60px 100px 140px;
}
.box5{
    border-radius: 50%;
}
.box6{
    border-radius: 200px 0 0 0;
}
.box7{
    border-radius: 200px 0 200px 0;
}
.box8{
    border-radius: 100px 100px 100px 0;
}