a{
    color:black;
    text-decoration: none;
}
.menu{
    padding:0;
    list-style:none;
    width: 200px;
}
.menu li > a{
    background-color: black;
    color:white;
    display:block;
    padding:5px;
    text-align: center;
    border: 1px solid white;
}
.sub-menu{
    border: 1px solid black;
    display: none;
}
.sub-menu a{
    display: block;
    padding:5px;
    text-align: center;
}