.btn span{
    background-color: rgb(221, 214, 214);
    text-align: center;
    width:120px;
    display: inline-block;
    padding: 5px;
    border-radius: 5px 5px 0 0;
    cursor:pointer;
    border: 1px black solid;
    margin-right:-5px;
    border-bottom:none;
}
.btn span:first-child{
    background-color: #fff;
}
.btn span:last-child{
    background-color: gray;
    color: rgb(207, 207, 197);
}
.tap_inner{
    width:400px;
}

.tab{
    border:1px solid black;
    
}
.tab a{
    color: black;
    text-decoration: none;
    display:block;
    border-bottom:1px black solid;
    margin:5px;
}
.tab a:last-child{
    border-bottom:none;
}
