@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

body{
    font-family: 'Raleway', sans-serif;
    line-height: 1.5em;
    margin:0;
    height: 100vh;
    display:flex;
    justify-content:center;
    align-items: center;
    font-weight: 600;
}
a{
    text-decoration: none;
}
.gnb a{
    display:block;
    width: 300px;
    height: 60px;
    position:relative;
    overflow:hidden
}
.gnb a:before,
.gnb a:after{
    width: inherit;
    height: inherit;
    line-height: 60px;
    text-align: center;
    position:absolute;
    content:attr(data-text);
    transition:0.3s;
    color:white;

    text-transform: uppercase;
}
.gnb a:before{
    background-color: crimson;
    top:0;
    left:0;
}
.gnb a:hover:before{
    top:-100%;
}
.gnb a:after{
    top:100%;
    left:0;
    background-color: dodgerblue;
}
.gnb a:hover:after{
    top:0%;
    position:absolute;
}